@media (orientation: landscape) {
    #portrait {display: none;}
    #landscape {
        height: 97vh;
        border: 1.5vh solid;
        border-radius: 5vw;
        width: calc(99vw - 6px);
        background-color: #222;
    }
    .portrait{
        display: none;
    }
    #gameBoardOuter{
        width: calc(99vw - 6px);
        overflow-x: scroll;
        overflow-y: hidden;
    }
    #gameBoardOuter::-webkit-scrollbar {
        display: none;
    }
    #gameProgress{
        height: 1vh;
        background-color: #444;
        margin: 4vh 2vw 3vh 2vw;
        border-radius: 1vh;
    }
    .playerMini {
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
        border: 0.5vh solid #0004;
        margin-top: -1.5vh;
        position: absolute;
        /* transition: left 0.5s; */
    }
    #gameBoard{
        width: max-content;
        padding-right: 1vh;
    }
    .gameField{
        display: inline-block;
        width: 23vh;
        height: 28vh;
        margin: 1vh 0vh 1vh 1vh;
        padding: 1vh;
        border: 1vh solid #444;
        border-radius: 3vh;
        background: linear-gradient(0, transparent 0%, transparent 22%, #222 23%);
    }
    .gameFieldText{
        height: 0;
        position: relative;
        top: 22.5vh;
        text-align: center;
        font-size: 6vh;
    }
    .playerContainer {
        margin: 22.5vh 0 0 2.5vh;
    }
    .player {
        width: 15vh;
        height: 15vh;
        border-radius: 50%;
        border: 1.5vh solid #0004;
        margin-top: -20vh;
        position: relative;
    }
    #gameContent{
        width: calc(99vw - 6px);
        height: 55vh;
    }
    #gameTextOuter{
        height: 56vh;
        display: inline-block;
        width: 65vw;
    }
    #playerName{
        font-size: 10vh;
        background-color: #222;
        padding: 5vh 5vw 0vh 2vw;
        white-space: pre-line;
    }
    #dice{
        display: none;
        width: 7vw;
        height: 7vw;
        z-index: 1;
        position: relative;
        top: 3.5vh;
        left: 1vw;
        margin-top: -7vh;
    }
    #gameText{
        font-size: 5vh;
        max-height: 26vh;
        background-color: #222;
        padding: 4vh 5vw 2vh 2vw;
        white-space: pre-line;
    }
    #gameButtons{
        height: 50vh;
        width: 30vw;
        display: inline-flex;
        flex-direction: column;
        float: right;
        margin: 0 2vw 0 0;
        padding: 2vh 0;
    }
    .gameButton{
        margin: 1vh 0;
        background-color: #131313;
        font-size: 5vh;
        border-radius: 3vh;
        border: 1vh solid #444;
        white-space: pre-line;
        height: -moz-available;          /* WebKit-based browsers will ignore this. */
        height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slideUpInfo{
        width: calc(40vh + 40vw);
        bottom: -2vw;
        padding: 3vh 2vw 4vh 2vw;
        border-radius: 2vw;
        font-size: calc(2.5vh + 1.5vw);
        left: calc(50vw - 20vh - 20vw);
        border: 1vh solid #666;
    }
    .slideUp-enter, .slideUp-leave-to {
        bottom: -100vh;
    }
}